.container--developer-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #253342;
    padding: 12px;
    gap:20px;
    position:absolute;
    border-bottom: solid 1px #fff;
    z-index: -1;
    top: -20%;
    transition: all .8s ease-in-out;
    transform-origin: top;
    left: 50%;
    transform: translate(-50%, -7%);
    width: 500px;
}
.container--developer-mode.active{
    z-index: 100;
    top:0;
}
.container--developer-mode > a{
    padding: 5px 10px;
    border: solid #fff 1px;
    border-radius: 3px;
    color:#fff;
    transition: background-color .3s ease, color .3s ease;
    font-size: 12px;
    font-weight: 500;
}

.container--developer-mode > a:hover{
    color:#fff;
    text-decoration: none;
}
.button--live-reload{
    background-color: #F66129;
}
.button--developer-mode:hover{
    background-color: hsla(0,0%,100%,.05);
}
.button--live-reload:hover{
    background-color: #f47f55;
}
.button--live-reload.reload{
    background-size: 26px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50%;
    color: transparent!important;
}
.button--show-controls {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    cursor: pointer;
    transition: color .8s ease-in-out;
}
.button--show-controls::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid;
    animation: cambiaColor 2s ease infinite;
}

.button--show-controls.active::before {
    display: none;
  }
.button--show-controls.active{
    font-weight: 900;
    color:#F66129;
    font-size: 20px;
    top:20px;
    left:38%;
}
.button--show-controls.active svg{
    transition: all .5s;
}
.button--show-controls.active:hover svg{
    fill:#fff;
}
.button--show-controls:hover::before {
    border-top: 15px solid #f47f55;
}
@keyframes cambiaColor {
    0% { border-top-color: #F66129; } 
    50% { border-top-color: #fffb00; }
    100% { border-top-color: #F66129; } 
}