.clickup-extension__tasks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:10px;
}
.clickup-extension__task{
    
    border-radius: 20px;
}
.clickup-extension__task:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}
.clickup-extension__task-header {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 40px auto 50px;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5 ease;
    padding: 10px;
}
.clickup-extension__task-header:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}
.clickup-extension__img-container{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.clickup-extension__img-asignBy{
    width: 100%;
}
.clickup-extension__name-status {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
}
.clickup-extension__task-head-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clickup-extension__task-head-icon > i,
.clickup-extension--copy-qa-comment{
    color:var(--primary);
    cursor: pointer;
}
.clickup-extension__task-show-content{
    display:none;
    flex-direction: column;
    gap: 15px;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}
.clickup-extension__date-info,
.clickup-extension__qa-info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.clickup-extension__estimated-info{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.clickup-extension__task-descripion{
    word-break: break-word;
}
.clickup-extension__task.active .clickup-extension__task-show-content{
    display: flex;
}
.clickup-extension__task.active .clickup-extension__task-header{
    box-shadow: none;
}
.clickup-extension__task-status{
    text-transform: capitalize;
}
.clickup-extension__copy-container{
    transition:all .3s ease;
}
.clickup-extension__copy-container.copy--ok{
    transform: scale(1.2);
    opacity: .8;
}
.clickup-extension__counter-tasks{
    margin:20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.clickup-extension__count{
    font-weight: 700;
    transition: all .3s ease;
}
.clickup-extension__count-task:hover{
    background-color: var(--blue);
}
.clickup-extension__count-task:hover > span{
    background-color: var(--blue);
    color: #fff;
}
.clickup-extension__label{
    text-transform: capitalize;
    transition: all .3s ease;
}
.clickup-extension__count-task{
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 3px;
    transition: all .3s ease;
}
.clickup-extension__task:not(.show-only){
    display:none;
}
.active--tab>span {
    color: #fff;
}
.active--tab {
    background-color: var(--blue);
}
/**************** End Task ******************/
/* General Styles */
.clickup-extension__content.hide{
    display: none;
}