.clickup-extension__task{
    position:relative;
}
.clickup-extension__tasks-container,
.clickup-extension__tasks-toQa-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:10px;
}
.clickup-extension__content{
    position: relative;
}
.clickup-extension__task{
    border-radius: 20px;
}
.clickup-extension__task:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}
.clickup-extension__task-header {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 40px auto 50px;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5 ease;
    padding: 10px;
}
.clickup-extension__task-header:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}
.clickup-extension__img-container{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.clickup-extension__img-asignBy{
    width: 100%;
}
.clickup-extension__name-status {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
}
.clickup-extension__task-head-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clickup-extension__task-head-icon > i,
.clickup-extension--copy-comment{
    color:var(--primary);
    cursor: pointer;
}
.clickup-extension__task-show-content{
    display:none;
    flex-direction: column;
    gap: 15px;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}
.clickup-extension__date-info,
.clickup-extension__qa-info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.clickup-extension__estimated-info,
.clickup-extension__comments{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.clickup-extension__task-descripion{
    word-break: break-word;
}
.clickup-extension__task.active .clickup-extension__task-show-content{
    display: flex;
}
.clickup-extension__task.active .clickup-extension__task-header{
    box-shadow: none;
}
.clickup-extension__task-status{
    text-transform: capitalize;
}
.clickup-extension__copy-container{
    transition:all .3s ease;
}
.clickup-extension__copy-container.copy--ok{
    transform: scale(1.2);
    opacity: .8;
}
.clickup-extension__counter-tasks{
    margin:20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.clickup-extension__counter-tasks.ready{
    padding: 10px;
    top: 10px;
    background-color: #fff;
    z-index: 10;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
    position: sticky;
}
.clickup-extension__count{
    font-weight: 700;
    transition: all .3s ease;
}
.clickup-extension__count-task:hover{
    background-color: var(--blue2);
}
.clickup-extension__count-task:hover > span{
    color: #fff;
}
.clickup-extension__label{
    text-transform: capitalize;
    transition: all .3s ease;
}
.clickup-extension__count-task{
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 3px;
    transition: all .3s ease;
}
.clickup-extension__task:not(.show-only){
    display:none;
}
.active--tab>span {
    color: #fff;
}
.active--tab, 
.active--tab:hover{
    background-color: var(--blue);
    cursor:default;
}
.clickup-extension__spaces{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.clickup-extension--implementor-spinner,
.clickup-extension--to-qa-spinner{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 50;
}
.clickup-extension--implementor-spinner.hide,
.clickup-extension--to-qa-spinner.hide,
.clickup-extension__content.tasks-implentor .clickup-extension__copy-container:not(.implementor-comment),
.clickup-extension__content.tasks-to-qa .clickup-extension__copy-container:not(.qa-comment){
    display: none;
}
.clickup-extension__tasks-toQa-container .clickup-extension__comments{
    grid-template-columns: repeat(2,1fr);
}
.task-alert--container{
    width: 20px;
    height: 20px;
    background-color: var(--alert);
    border-radius: 50%;
    position: absolute;
    right: 7px;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
}
.task-alert--description{
    position: absolute;
    right: 25px;
    background-color: var(--alert);
    padding: 10px 10px 0;
    border-radius: 5px;
    top: -15px;
    text-transform: capitalize;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
    min-width: max-content;
}
.task-alert--container:hover .task-alert--description{
    opacity: 1;
    z-index: 20;
}
/**************** End Task ******************/
/* General Styles */
.clickup-extension__content.hide{
    display: none;
}